/Hand2hand_demo/Hand2hand_demo/opencv2.framework

/analysis/venv/Include
/analysis/venv/Lib
/analysis/venv/Scripts
/analysis/venv/__pycache__/*.pyc
/analysis/venv/.DS_Store
/analysis/venv/*.pyc
/analysis/data/
/analysis/log*
/analysis/.DS_Store

/user_study/running/
/user_study/stationary/
/user_study/swipe/
/user_study/walking/
/user_study/noise/
/user_study/models/
/user_study/.DS_Store

/user_study_random/.DS_Store

/scoring/static/videos/

.DS_Store
