/papers
/h2h.pptx
/hand2hand_related.xlsx
/Hand2hand_AppleWatch/hand2hand/opencv2.framework

/analysis/venv/Include
/analysis/venv/Lib
/analysis/venv/Scripts
/analysis/venv/__pycache__
/analysis/venv/.DS_Store
/analysis/venv/*.pyc

/analysis/data/
/analysis/log*
/analysis/.DS_Store

.DS_Store
