/Hand2hand_demo/Hand2hand_demo/opencv2.framework

/analysis/venv/Include
/analysis/venv/Lib
/analysis/venv/Scripts
/analysis/venv/__pycache__/*.pyc
/analysis/venv/.DS_Store
/analysis/venv/*.pyc

/analysis/data/
/analysis/log*
/analysis/.DS_Store

.DS_Store
